body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo img {
    width: 100px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #2e7d32;
}

/* TITULOS */
h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}

/* HERO */
.fondo {
    min-height: 100vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('https://images.unsplash.com/photo-1636525653613-2a3a05c00759?fm=jpg&q=60&w=3000&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: white;
}

.fondo h2 {
    font-size: 60px;
    margin: 0;
    line-height: 0.9;
}

.fondo p {
    font-size: 16px;
    max-width: 500px;
}

/* CATEGORÍAS */
.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
    justify-content: center;
}

.button {
    background-color: #2e7d32;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.button:hover {
    background-color: #1b5e20;
    transform: scale(0.95);
}

/* PRODUCTOS */
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
    padding: 20px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .fondo {
        padding: 30px;
    }

    .newsletter {
        flex-direction: column;
        text-align: center;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}


.formulario-contacto label {
    display: block;
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #2e7d32;
    outline: none;
}

.formulario-contacto textarea {
    height: 100px;
    resize: 10px;
}

.formulario-contacto button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.formulario-contacto button:hover {
    background: #1b5e20;
}