/*home*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo img {
    width: 120px;
    height: auto;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #2e7d32;
}


.fondo {
    min-height: 90%;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url('https://images.unsplash.com/photo-1636525653613-2a3a05c00759?fm=jpg&q=60&w=3000&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: white;
}

h2 {
    color: #2e7d32;
    font-size: 50px;
}

.fondo h2 {
    color: white;
}

.slogan {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    max-width: 600px;
    text-align: left;
}



.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
    justify-content: center;
}

.button {
    background-color: #2e7d32;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.button:hover {
    background-color: #1b5e20;
    transform: scale(0.95);
}



.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px;
}

.card {
    background: linear-gradient(135deg, #ffffff, #2e7d32);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    color: white;
    margin-top: 15px;
}

.descripcion {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 0;
}

.precio {
    display: block;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}



.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
}

.contenido {
    max-width: 500px;
}

.contenido h2 {
    color: white;
}

.contenido p {
    color: white;
    text-align: left;
}

.formulario {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.formulario input {
    padding: 15px;
    border: none;
    border-radius: 30px;
    width: 250px;
    outline: none;
}

.formulario button {
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #27ae60;
    font-weight: bold;
    cursor: pointer;
}

.formulario button:hover {
    transform: scale(1.05);
}

.contenido span {
    color: white;
    font-size: 12px;
}

.imagen {
    width: 350px;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6') center/cover;
    border-radius: 25px;
    opacity: 0.5;
}



.footer {
    background: #e6e6cf;
    padding: 60px 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col {
    max-width: 250px;
}

.footer-col h3,
.footer-col h4 {
    color: #2e7d32;
}

.footer-col p {
    text-align: left;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 8px;
}

.footer-col a:hover {
    color: #2e7d32;
}

.social {
    margin-top: 15px;
}

.social span {
    display: inline-block;
    background: white;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor {
        grid-template-columns: 1fr;
    }

    .newsletter {
        flex-direction: column;
        text-align: center;
    }

    .imagen {
        margin-top: 30px;
        width: 100%;
        max-width: 350px;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario input {
        width: 100%;
    }
}

/*contacto*/

h1{
    text-align: center;
    color: #2e7d32;
    font-size: 80px;
}

p {
    text-align: center;
    color: #000000;
    font-size: 30px;
}

.contacto {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-image: url('https://www.ambienteysociedad.org.co/wp-content/uploads/2021/07/shutterstock_1245597697.jpg');
    background-size: cover;
    color: white;
}

.contacto-contenedor {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 15px;
}

.form-group {
    margin-bottom: 20px;
}


.form-group label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}

.formulario-contacto {
    margin-left: 40%;
    padding: 200px;
    display: block;
    margin-bottom: 15px;
     color: white;
    font-size: 18px;
    text-align: left;
}
button {
    width: 150px;
    justify-content: center;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    background: #2e7d32;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
    transform: scale(0.95);
}

.formulario-contacto label {
    width: 100%;
     color: white;
}

.formulario-input{
    padding: 25px;
    size: 30px;
}


 input {
    height: 3vh
 }


/*our*/
.fondoour{
    min-height: 90px;
    background-image: url('https://images.unsplash.com/photo-1636525653613-2a3a05c00759?fm=jpg&q=60&w=3000&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.nosotros {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    max-width: 600px;
    text-align: left;
}
.nosotros1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 10px;
    max-width: 600px;
    text-align: left;
}

.beneficios{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px 50px;
    background: #f7f7f7;
    text-align: center;
    flex-wrap: wrap;
}

.beneficio{
    width: 220px;
}

.icono{
    width: 60px;
    height: 60px;
    margin: 0 auto 25px;
    background-color: #e8e8e8;
    border-radius: 8px;

  
    border: 2px dashed #ccc;
}

.beneficio h3{
    font-size: 32px;
    margin-bottom: 15px;
    color: #222;
}

.beneficio p{
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}